@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Acumin Pro Condensed Light", "Roboto", sans-serif;
	font-size: 1em;
	letter-spacing: 0.5px;
}
.wrapper {
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-around;
}
.item {
	display: block;
	margin: 0 auto;
	width: 100%;
}
h1 {
	text-align: center;
	color: #00565f;
	margin: 20px auto;
}
h2 {
	text-align: center;
	margin: 20px auto;
	color: #00565f;
}
h4 {
	margin-bottom: 50px;
}
h5 {;
	margin: 20px auto 20px auto;
	width: 72.5%;
	font-size: 14px;
}
/* LOGO */
.logo {
	width: 70%;
	display: block;
	margin: 0 auto;	
}
.logoheader {
	width: 960px;
	border: none;
	float: left;
}
.logoheader_resp {
	position: absolute;
	visibility:hidden !important;
	display:none !important;	
}

/* NAVIGATION */
nav {
	width: 99%;
	height: 50px;
	margin-bottom: 0;
}
a .nav-link .navbar {
	margin: 0;
	padding: 0;
}


/* TOOLTIP FOR ICONS*/
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 0px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
nav .btn {
	background: transparent;
	padding: 0;
}
nav .active{
    border-color: none;
    background-color: #DFA00C;
}
.form-control {
	border: 1.5px #04A6B7 solid;
	color: #04A6B7; 
}
.btn_search{
	width: 70px;
	padding: 7px 12px;
	border: none;
	border-radius: 0.25em;
	background: #04A6B7;
	color: white;
}
.btn_search:hover {
	padding: 6px 11px;
	background-color: #DFA00C;
	color: white;
	cursor: pointer;
}

hr {
	width: 960px	;
	position: relative;
	 display: block;
    height: 1px;
    border: none;	
	background-color: #04A6B7;
    margin: 0 auto;
    padding: 0; 
}
/* END TOOLTIP FOR ICONS*/

.menulogo {
	height: 40px;
	background: #04A6B7;
	border-radius: 0.25em;
	bottom: 0;
	padding-right: 0;
}
.menulogo:active {
	background: #DFA00C;
}
.menulogo:hover {
	background: #DFA00C;
}
/* END NAVIGATION */

/* HOME PAGE */
.home_video {
	width: 72.5%;
	display: block;
	margin: 0 auto;
}

/* HOME PAGE BODY */ 
article {
	width: 50%;
	height: auto;
}

/* UDFORSK */

#videosList {
  max-width: 100px; 
  overflow: hidden;
}

.video_1 {
  background-image: url('pictures/julie_thumb.png');
  height: 140px;
  width: 250px;
  margin: 20px auto;
}
.video_2 {
  background-image: url('pictures/amara_thumb.png');
  height: 140px;
  width: 250px;
  margin: 20px auto;
}
.video_3 {
  background-image: url('pictures/stinnia_thumb.png');
  height: 140px;
  width: 100%;
  margin: 20px auto;
}
.video_size {
	width: 250px;
}
.video video {
	width: 250px;
}

/* Hide Play button + controls on iOS */
.home_video::-webkit-media-controls {	
    display:none !important;
}


/* PICTURE SLIDESHOW */
.container {
	position: relative;
	display: inline-block;
	width: 80%;
	float: left;
	margin-top: 20px;
	margin-bottom: 50px;
}
.image {
	display: block;
	width: 250px;
	height: 140px;
}
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	overflow: hidden;
	width: 270px;
	height: 150px;
	-webkit-transform: scale(0);
	transition: .3s ease;
}
.container:hover .overlay {
	transform: scale(1)
}
.text {
	color: black;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
table {
	margin-top: 25px;
}
/* END PICTURE SLIDESHOW */
.ui-corner-all{
border: 0px !important;
}

/* END UDFORSK */


/* BLOG LAYOUT */
.go-back-button {
    border: none;
	background: transparent;
    text-decoration: none;
	margin: 10px 0 0 10px;
    cursor: pointer;
	position: absolute;
	float: left;
}
.videoheader {
	width: 99%;
}
.blog_video {
	width: 69%;
	height: 365px;
	display: block;
	margin: 45px auto 0 auto;
}
u {
	color: #04A6B7;
}
u:hover {
	color: #DFA00C;
}
article {
	width: 39%;
	margin-left: auto;
	margin-right: auto;
}
#tabs {
	width: 69%;
	margin-left: auto;
	margin-right: auto;
}
.tabs-p {
	margin-top: 10px;	
}
.text-font {
	font-style: italic;
	text-align: center;
}
.tabs_billeder {
	display: inline-block;
	width: 200px;
}
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0px;
    padding: 10px 4px !important;
    background: none;
}
.ui-widget {
    font-family: "Acumin Pro Condensed Light", "Roboto" sans-serif !important;
    font-size: 1em;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	background: #DFA00C !important;
}
.author {
	width: 79%;
	margin-top: 20px;
}
.col {
	background: #eee;
}
.author_image {
	width: 100px;
	display: block;
	margin: 0 auto;
	border-radius: 30%;
	margin-bottom: 50px;
}
.comments {
	width: 69%;
	margin-bottom: 100px;
	padding: 20px;
}

/* ANIMATIONER */
.banner{
	width: 60%;
}
.banner_video {
	width: 100%;
	margin: 0 auto;
}
         
/* END BLOG LAYOUT */


/* PROFIL */ 

/* LOGIN PROFIL */

input[type=text], input[type=password] {
	display: block;
	margin: 20px;
	padding: 5px 50px 5px 50px;
	text-align: center;
	border: 2px #DFA00C solid;
	border-radius: 0.25em;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #00565F;
}
.container_login {
	padding: 5px 40px 5px 40px;
	display: block;
	margin: 0 auto;
	background: white;
	border: 2px #00565F solid;
	color: #00565F;
	border-radius: 0.25em;
}
/* END LOGIN PROFIL*/

/* LOGGED IND PROFIL */
.card {
	margin: 50px;
}
.card-header {
	background: #DFA00C;
	color: white;
}
.profile_picture {
	float: left;
}
/* END LOGGED IN PROFIL*/

/* END PROFIL */

footer {
	width: 52%;
	height: 30px;
	text-align: center;
	position: fixed;
	bottom: 0;
}



@media screen and (max-width: 600px) {
	
	.item {
		width: 100%;
	}
	a {
		font-size: 12px;
	}
	p {
		font-size: 10px;
	}
	h1 {
		font-size: 25px;
	}
	h2 {
		font-size: 18px;
		margin: 10px;
	}
	h3 {
		font-size: 15px;
	}
	h5 {
		width: 80%;
	}
	.navbar-toggler {
		background: transparent;
	}
	.menulogo {
		display: inline-block;
	}	
	.home_video {
		width: 90%;
	}
	.go-back-button {
		width: 30px;
		margin: 2px 0 0 2px;
	}	
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 0.5em 0.2em !important;
    text-decoration: none;
}
	.banner {
		margin: 10px;
	}
	.banner p {
		margin: 10px;
	}
	.blog_video {
		height: auto;
	}
	.author_image {
		margin: 0 auto;
		margin-bottom: 0;
	}
	.text-right {
    	text-align: center!important;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    	position: relative;
    	width: 100%;
	}

	.text-font {
		margin-bottom: 1px;
	}
	input[type=text], input[type=password] {
    	margin :0px;
	}
	hr{
		width: 95%;
		margin: 0 auto;
	}
	.search {
		display: none;
	}
	#videosList {
		display: block;
	}

}
